@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* overflow-x: hidden; */
}

body {
  background-color: #EFF2FF; 
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: auto;
  min-width: 100%;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.sidebar {
  /* position: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
}

